.container > header img {
	margin: 20px 0;
	width: 200px;
	height: 65px;
}
.container > header h1 {
	margin: 10px 30px;
	display: inline-block;
	line-height: 1em;
	font-size: 4em;
}
figure.info-video {
	position: relative;
	width: 100%;
	height: 100%;
}
figure.info-video .button-close {
	position: absolute;
	top: 0;
	right: -37px;
	font-size: 32px;
	line-height: 32px;
	cursor: pointer;
}
.call-to-action {
	width: 100%;
	margin: 30px;
	text-align: center;
}
.call-to-action button {
	font-size: 3em;
	padding: 0.4em 0.8em;
}
.articles {
	width: 100%;
}
