<div class="box col-lg-8 col-md-10 col-sm-12 col-xs-12">
    <div class="title">Concept</div>
    <div class="content row">
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget enim id sapien lacinia dignissim in at arcu. Etiam sodales eros non ligula rutrum, sit amet vehicula diam dapibus. Morbi eget tellus eu tortor auctor venenatis. Nunc eleifend, enim quis vehicula posuere, sapien nunc ullamcorper ex, a volutpat mauris turpis eu nisl. Duis laoreet dapibus enim, in pretium lorem. Aliquam in pretium risus, eu egestas ipsum. Donec molestie euismod interdum. Nullam arcu metus, ullamcorper finibus risus at, laoreet consequat mi.</div>
        <div class="col-md-6 col-sm-6">In hendrerit auctor ornare. Nunc diam tortor, aliquet quis turpis nec, egestas vulputate nisl. Aenean fermentum non velit rutrum blandit. In ac scelerisque nunc. Sed mollis id dolor sed hendrerit. Nunc volutpat urna risus, vitae consequat ante cursus ac. Integer iaculis placerat sapien ut consectetur. Integer imperdiet lectus sit amet fringilla condimentum. Vivamus vitae commodo quam. Proin diam neque, tristique ut tempor at, maximus et ex. Donec dictum aliquam congue. In nec nibh posuere, suscipit ex eu, sagittis neque. Etiam tincidunt nibh eget ligula placerat elementum imperdiet vitae purus. </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-md-offset-6">
            <a href="" class="edit-link-concept pull-right"><i class="fa fa-pencil"></i></a>
        </div>
    </div>
</div>
