<div class="box col-lg-8 col-md-10 col-sm-12 col-xs-12 opdracht">
    <div class="title">Documenten</div>
    <div class="content row">
    </div>
    <div class="row">
        <div class="list-group">
            <a class="list-group-item" href="#"><i class="fa fa-folder-open fa-fw folder-document"></i>&nbsp; Opdracht documenten</a>
            <a class="list-group-item" href="#"><i class="fa fa-folder-open fa-fw folder-document"></i>&nbsp; Opdracht documenten</a>
            <a class="list-group-item" href="#"><i class="fa fa-folder-open fa-fw folder-document"></i>&nbsp; Opdracht documenten</a>
            <a class="list-group-item" href="#"><i class="fa fa-folder-open fa-fw folder-document"></i>&nbsp; Opdracht documenten</a>
        </div>

    </div>
    <div class="buttons">
        <div>
            <i class="fa fa-folder-o"></i>
            <i class="fa fa-plus plus-icon"></i>
        </div>
        <div><i class="fa fa-upload"></i></div>
    </div>
</div>
