<div class="page" ng-repeat="item in opdrachten | reverse" repeat-done="applySkrollr()" id="opdracht{{$index}}">
    <div class="opdracht-container"
            style="background-image:url({{item.achtergrond}});"
            data-anchor-target="#opdracht{{$index}}"
            data-bottom-top="top: 100vh;" data-top="opacity: 1; top: 0vh;" data-top-bottom="opacity:0;">
        <div class="box col-lg-6 col-md-6 col-sm-8 col-xs-10 opdracht">
            <div class="title">{{item.nr}}. {{item.naam}}</div>
            <div class="content row">
            </div>
            <div class="beschrijving">{{item.beschrijving}}</div>

            <div class="buttons">
                <button onclick="alert('Stel een vraag aan een expert.');"><i class="fa fa-question"></i></button>
                <button onclick="alert('Bekijk opdrachtdetails en bijbehorende hulptoolen.');"><i class="fa fa-file-text"></i></button>
                <button onclick="alert('Upload je resultaat.');"><i class="fa fa-upload"></i></button>
            </div>
        </div>
    </div>
</div>
