<div class="box col-lg-8 col-md-10 col-sm-12 col-xs-12 groepsgenoten">
    <div class="title">Groepsgenoten</div>
    <div class="content row">
        <div ng-repeat="groepsgenoot in groepsgenoten" class="groepsgenoot col-md-6">
            <img ng-src="{{groepsgenoot.foto}}">

            <div class="naam">{{groepsgenoot.naam}}</div>
            <div class="opleiding">{{groepsgenoot.opleiding.naam}}, {{groepsgenoot.opleiding.jaar}}e jaar</div>
            <div class="omschrijving">{{groepsgenoot.omschrijving}}</div>

            <div>
                <i class="fa fa-video-camera"></i>
                <i class="fa fa-comments"></i>
            </div>
        </div>
    </div>
</div>
