<div class="box col-lg-8 col-md-10 col-sm-12 col-xs-12 project">
    <div class="title">Een vet project!</div>
    <div class="content row">
        <div class="col-md-12" style="font-size: 1.5em; padding: 10px;">
        <center><img src="img/eenvetproject.jpg" style="width: 50%;"><br/><br/></center>
        Kinderen worden steeds dikker, de aantallen kinderen op basisscholen met overgewicht overstijgen soms de 90%! Dit in combinatie met de nieuwe digitale wereld waarin steeds meer van onze hobby achter een beeldscherm is zorgt ervoor dat we deze trend steeds verder zien toenemen. Wij denken dat de oplossing mogelijk zit in omdenken. Kunnen we kinderen niet leren wat gezond eten is en die de ouders laten overtuigen in plaats van andersom. Maak gezonde voeding “vet!”<br/>
		
		(Bron: <a href="http://reshap.eu/projects/een-vet-project/">REshapeU</a><!-- Geraadpleegd op 13-01-2015 -->)
        </div>
    </div>
    <div class="row" style="margin-top: -70px;">
        <div class=" col-md-6 col-md-offset-6">
            <a href="" class="edit-link-concept pull-right"><i class="fa fa-pencil"></i></a>
        </div>
    </div>
</div>
